<a href="https://colab.research.google.com/github/raja10rajesh/corona_data/blob/master/cdc_data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
locations = pd.read_csv('locations.csv',low_memory=False)
total_cases = pd.read_csv('total_cases.csv',low_memory =False)
total_deaths = pd.read_csv('total_deaths.csv',low_memory=False)

In [59]:
print ("locations",len(locations))
print ("total_cases",len(total_cases))
print ("total_deaths",len(total_deaths))

locations 203
total_cases 204
total_deaths 204

In [60]:
total_cases.head()

          date  31-12-2019  01-01-2020  ...  01-04-2020  02-04-2020  03-04-2020
0        World        27.0        27.0  ...    851308.0    928436.0   1000249.0
1  Afghanistan         0.0         0.0  ...       166.0       192.0       235.0
2      Albania         NaN         NaN  ...       243.0       259.0       277.0
3      Algeria         0.0         0.0  ...       584.0       847.0       847.0
4      Andorra         NaN         NaN  ...       376.0       390.0       428.0

[5 rows x 96 columns]

In [0]:
final = total_cases.merge(total_deaths,on= 'date',how='left')

In [62]:
len(final)

204

In [0]:
popu_cases_death = locations.merge(final,how='left',left_on='location',right_on='date')

In [64]:
popu_cases_death.head()

  countriesAndTerritories     location  ... 02-04-2020_y  03-04-2020_y
0             Afghanistan  Afghanistan  ...          4.0           4.0
1                 Albania      Albania  ...         15.0          16.0
2                 Algeria      Algeria  ...         58.0          58.0
3                 Andorra      Andorra  ...         14.0          15.0
4                  Angola       Angola  ...          2.0           2.0

[5 rows x 196 columns]

In [0]:
popu_cases_death.to_csv('popu_cases_death.csv')

In [0]:
demo = pd.read_csv('domographic_world.csv',low_memory = False)

In [67]:
demo.head()

   Unnamed: 0            name  ...  femaleSmokingRate   pop2020
0           0     Afghanistan  ...                NaN       NaN
1           1         Albania  ...                7.6  2877.797
2           2         Algeria  ...                NaN       NaN
3           3  American Samoa  ...                NaN       NaN
4           4         Andorra  ...               27.8    77.265

[5 rows x 30 columns]

In [0]:
final = popu_cases_death.merge(demo,how='left',left_on='location',right_on='name')

In [69]:
final.head()

  countriesAndTerritories     location  ... femaleSmokingRate   pop2020
0             Afghanistan  Afghanistan  ...               NaN       NaN
1                 Albania      Albania  ...               7.6  2877.797
2                 Algeria      Algeria  ...               NaN       NaN
3                 Andorra      Andorra  ...              27.8    77.265
4                  Angola       Angola  ...               NaN       NaN

[5 rows x 226 columns]

In [0]:
final_s = final.drop(['date','Unnamed: 0','name','pop2020_y','pop2020_y.1','pop2020_y.2','pop2020_x.2','pop2020_x.1','pop2020'], axis= 1)

In [0]:
final_s.to_csv('corona_final.csv')